# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    last_fm_api_key: b204e6087c1bfaf7ccc669f500d1beda
    last_fm_api_secret: b299de008c34db4a10b8a8280173fe4c

    spotify_client_id: 5244629eb8e5424691226e8347e12c66
    spotify_client_secret: dbd023e4013d49c9b336f4d1ad9ee14e
    spotify_redirect: ~